h1 {
    text-align: center;
}
img {
    width: 200px;
    height: auto;
}
body {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
}
h2 {
    text-decoration: underline;
    margin-bottom: 2px;
}
ul, ol {
    margin-top: 2px;
}
.contenedor {
    display: flex;
    align-items: center;
}
.logo-RockTruck {
    width: 200px;
    height: auto;
    margin-right: 30px;
}
p {
    margin: 0;
    text-align: justify;
}
.Linea-azul {
    position: absolute;
    top: 0%;
    width: 20%;
    height: auto;
    min-height: 100%;
    background-color: blue;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    box-sizing: border-box;
}
.lista {
    color: white;
    font-size: 18px;
}
.contenido {
    width: 60%;
    height: auto;
    position: absolute;
    left: 20%;
    padding: 20px;
    box-sizing: border-box;
}
.Linea-azul h2 {
    color: white;
}
.divisor {
    border-top: 2px solid white;

}
.Linea-celeste {
    position: absolute;
    top: 0%;
    width: 20%;
    height: 100vh;
    background-color: cadetblue;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    box-sizing: border-box;
}
.Logo-contenido {
    max-width: 80%;
    height: auto;
}
.Foto_de_perfil {
    width: 100px;
    height: auto;
}